# EditorConfig is awesome: http://EditorConfig.org
; Top-most EditorConfig file
root = true

; 2 space indentation
[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

; Tab indentation (no size specified)
[*.{cpp,h,def,manifest}]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = crlf

; Tab indentation (no size specified)
[makefile*]
indent_style = tab

; 4 space indentation
[*.rc]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
