[submodule "src/modules/minhook"]
	path = src/modules/minhook
	url = https://github.com/Maximus5/minhook.git
[submodule "src/modules/terminals"]
	path = src/modules/terminals
	url = https://github.com/Maximus5/cygwin-connector.git
[submodule "src/modules/json-parser"]
	path = src/modules/json-parser
	url = https://github.com/Maximus5/json-parser.git
[submodule "src/modules/rapidxml"]
	path = src/modules/rapidxml
	url = https://github.com/Maximus5/RapidXml.git
[submodule "src/modules/googletest"]
	path = src/modules/googletest
	url = https://github.com/Maximus5/googletest.git
