.svn
.svnignore
Descript.ion

_*.sln

*.7z
*.rar
*.zip
*.dat

*.log

*.pdb
*.plg
*.bak
*.diff
*.idc
*.sdf
*.depend
*.psess

\!*.bmp
\!*.png
\!*.cpp
\!*.h
\!*.txt
\!*.mht
\!*.htm
\!*.xlsx

/gcc
/Debug
/MinGW
/Portable_Test
/ConEmuPortableRarInfo.txt

/Release/ConEmu/WhatsNew-ConEmu-Portable.txt
/Release/ConEmu/Portable/

ipch
bin
help
x64

/CreateRelease.cmd
