.svn
.svnignore
.vscode
.wsl
Descript.ion
premake5.exe

_*.sln

*.7z
*.rar
*.zip
*.dat

*.log

*.pdb
*.plg
*.bak
*.diff
*.idc
*.sdf
*.depend
*.psess

\!*.bmp
\!*.png
\!*.cpp
\!*.h
\!*.txt
\!*.mht
\!*.htm
\!*.xlsx

/gcc
/Debug
/MinGW
/Portable_Test
/ConEmuPortableRarInfo.txt
/Debug
/build

/Release/ConEmu/WhatsNew-ConEmu-Portable.txt
/Release/ConEmu/Portable/

ipch
bin
help
x64

Release/**/*.iobj
Release/**/*.ipdb
Release/**/*.exp
Release/**/*.lib
/src/ConEmu/graphics.src
/src/ConEmu/graphics.src
/src/WebInstall
/src/WebInstall

pvs-studio*.*
/src/*.PVS-Studio.*
/src/.pvs/
