.svn
.svnignore

_*.sln

*.7z
*.rar
*.zip

*.log

*.pdb
*.plg
*.bak
*.diff
*.idc
*.sdf
*.depend
*.psess

\!*.bmp
\!*.png
\!*.cpp
\!*.h
\!*.txt
\!*.mht
\!*.htm



/Portable_Test
/ConEmuPortableRarInfo.txt

ipch
bin
help
x64


/CreateRelease.cmd
