<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="{ACEA3882-9C4C-4ACF-B5D3-ED021AF37361}" Language="1033" Manufacturer="ConEmu-Maximus5" Name="ConEmu" UpgradeCode="{75D2A1D0-92AC-4A7F-B4D0-A33D94E96018}" Version="11.01.14.0">
        <Package Comments="This installer database contains the logic and data required to install ConEmu" Compressed="yes" Description="ConEmu-Maximus5 110114" InstallerVersion="200" Languages="1033" Manufacturer="ConEmu-Maximus5" Platform="x86" />
        <Binary Id="CustomActions.dll" SourceFile="FILE NOT EXPORTED, USE THE dark.exe -x OPTION TO EXPORT BINARIES" />
        <Condition Message="[ProductName] requires Windows 2000 or above.">NOT Version9X AND VersionNT &gt;= 500</Condition>
        <CustomAction Id="SetConEmuInstallDir" Property="APPLICATIONFOLDER" Value="[FARMANAGERFOLDER]" Execute="firstSequence" />
        <CustomAction Id="UpdateFeatureState" BinaryKey="CustomActions.dll" DllEntry="UpdateFeatureState" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="StartMenuFolder">
                <Component Id="ConEmuStartShortcut" Guid="{F7005487-D8D6-41ED-8B75-FFFB4A218F3A}">
                    <RegistryValue Id="reg4751932A748CBF2EAFDD7B23868B1F7C" Root="HKCU" Key="Software\Microsoft\ConEmu" Name="ConEmuStartShortcutInstalled" Value="1" Type="integer" KeyPath="yes" />
                    <Shortcut Id="SConEmuStartShortcut" Directory="StartMenuFolder" Name="ConEmu" Description="ConEmu 11.01.14.0" WorkingDirectory="APPLICATIONFOLDER" Advertise="yes" />
                </Component>
                <Component Id="ConEmuStartShortcut64" Guid="{B7C99F54-D741-4DBA-B487-23A5B475A4A0}">
                    <RegistryValue Id="reg201504431F08C5F1DA1BFA1C4D70681E" Root="HKCU" Key="Software\Microsoft\ConEmu" Name="ConEmuStartShortcut64Installed" Value="1" Type="integer" KeyPath="yes" />
                    <Shortcut Id="SConEmuStartShortcut64" Directory="StartMenuFolder" Name="ConEmu (x64)" ShortName="dw51yp4a" Description="ConEmu x64 11.01.14.0" WorkingDirectory="APPLICATIONFOLDER" Advertise="yes" />
                </Component>
                <Component Id="ConEmuStartShortcutFolder" Guid="{1158F287-0A8E-4281-9628-A3C300D115B4}">
                    <RegistryValue Id="reg4CF751E4AB5744276AAC4C40C7F24385" Root="HKMU" Key="Software\Microsoft\ConEmu" Name="ConEmuStartShortcutFolder" Value="1" Type="integer" KeyPath="yes" />
                </Component>
            </Directory>
            <Directory Id="DesktopFolder">
                <Component Id="ConEmuDesktopShortcut" Guid="{5063AC12-3EF8-434A-8265-307DAB373AED}">
                    <RegistryValue Id="reg4243DA9689C08BC41F8FB45056F84E00" Root="HKCU" Key="Software\Microsoft\ConEmu" Name="ConEmuDesktopShortcutInstalled" Value="1" Type="integer" KeyPath="yes" />
                    <Shortcut Id="SConEmuDesktopShortcut" Directory="DesktopFolder" Name="ConEmu" Description="ConEmu 11.01.14.0" WorkingDirectory="APPLICATIONFOLDER" Advertise="yes" />
                </Component>
                <Component Id="ConEmuDesktopShortcut64" Guid="{12ACD7A8-5C3C-483F-A00C-1F48BBE7B556}">
                    <RegistryValue Id="reg6FB8EEA3E539956545DB49E8F3B7BC74" Root="HKCU" Key="Software\Microsoft\ConEmu" Name="ConEmuDesktopShortcut64Installed" Value="1" Type="integer" KeyPath="yes" />
                    <Shortcut Id="SConEmuDesktopShortcut64" Directory="DesktopFolder" Name="ConEmu (x64)" ShortName="6ktg2qbo" Description="ConEmu x64 11.01.14.0" WorkingDirectory="APPLICATIONFOLDER" Advertise="yes" />
                </Component>
                <Component Id="ConEmuDesktopShortcutFolder" Guid="{5EC938AD-0669-4AB8-87AF-A8D0922DDCFF}">
                    <RegistryValue Id="regC4F0CA28674574219D906A81C1390CE1" Root="HKCU" Key="Software\Microsoft\ConEmu" Name="ConEmuDesktopShortcutFolder" Value="1" Type="integer" KeyPath="yes" />
                </Component>
            </Directory>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="FARMANAGERFOLDER" Name="ConEmu">
                    <Directory Id="FarPluginsFolder" Name="Plugins">
                        <Directory Id="FARPLUGINSCONEMU" Name="ConEmu">
                            <Component Id="PFarPluginsConEmu" Guid="{29B140A7-1E9B-11E0-B29A-0018F38FF6A1}">
                                <File Id="ConEmu.dll" Name="ConEmu.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmu.dll" />
                                <File Id="ConEmu.map" Name="ConEmu.map" DiskId="1" Source="SourceDir\File\ConEmu.map" />
                                <File Id="ConEmu.x64.dll" Name="ConEmu.x64.dll" ShortName="zcnw6kqa.dll" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmu.x64.dll" />
                                <File Id="ConEmu.x64.map" Name="ConEmu.x64.map" ShortName="ec9zmrla.map" DiskId="1" Source="SourceDir\File\ConEmu.x64.map" />
                                <File Id="ConEmuPlugin_en.lng" Name="ConEmuPlugin_en.lng" ShortName="83z5_ap8.lng" DiskId="1" Source="SourceDir\File\ConEmuPlugin_en.lng" />
                                <File Id="ConEmuPlugin_ru.lng" Name="ConEmuPlugin_ru.lng" ShortName="cwfk473q.lng" DiskId="1" Source="SourceDir\File\ConEmuPlugin_ru.lng" />
                            </Component>
                            <Directory Id="FarPluginsConEmuLn" Name="Lines">
                                <Component Id="PFarPluginsConEmuLn" Guid="{3DC3A374-1E9B-11E0-B29A-0018F38FF6A1}">
                                    <File Id="ConEmuLn.dll" Name="ConEmuLn.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuLn.dll" />
                                    <File Id="ConEmuLn.map" Name="ConEmuLn.map" DiskId="1" Source="SourceDir\File\ConEmuLn.map" />
                                    <File Id="ConEmuLn.x64.dll" Name="ConEmuLn.x64.dll" ShortName="76j1lh0s.dll" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuLn.x64.dll" />
                                    <File Id="ConEmuLn.x64.map" Name="ConEmuLn.x64.map" ShortName="zrtc_fd8.map" DiskId="1" Source="SourceDir\File\ConEmuLn.x64.map" />
                                    <File Id="ConEmuLn_en.lng" Name="ConEmuLn_en.lng" ShortName="kvfvi3vu.lng" DiskId="1" Source="SourceDir\File\ConEmuLn_en.lng" />
                                    <File Id="ConEmuLn_ru.lng" Name="ConEmuLn_ru.lng" ShortName="dcsfi-e6.lng" DiskId="1" Source="SourceDir\File\ConEmuLn_ru.lng" />
                                </Component>
                            </Directory>
                            <Directory Id="FarPluginsConEmuTh" Name="Thumbs">
                                <Component Id="PFarPluginsConEmuTh" Guid="{71479FA8-1E9C-11E0-B29A-0018F38FF6A1}">
                                    <File Id="ConEmuTh.dll" Name="ConEmuTh.dll" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuTh.dll" />
                                    <File Id="ConEmuTh.map" Name="ConEmuTh.map" DiskId="1" Source="SourceDir\File\ConEmuTh.map" />
                                    <File Id="ConEmuTh.x64.dll" Name="ConEmuTh.x64.dll" ShortName="pcqix4om.dll" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuTh.x64.dll" />
                                    <File Id="ConEmuTh.x64.map" Name="ConEmuTh.x64.map" ShortName="pdj4zr59.map" DiskId="1" Source="SourceDir\File\ConEmuTh.x64.map" />
                                    <File Id="ConEmuTh_en.lng" Name="ConEmuTh_en.lng" ShortName="rjzs5zqj.lng" DiskId="1" Source="SourceDir\File\ConEmuTh_en.lng" />
                                    <File Id="ConEmuTh_ru.lng" Name="ConEmuTh_ru.lng" ShortName="x_iu2jr9.lng" DiskId="1" Source="SourceDir\File\ConEmuTh_ru.lng" />
                                    <File Id="gdi.t32" Name="gdi+.t32" ShortName="7ozdsizr.t32" Checksum="yes" DiskId="1" Source="SourceDir\File\gdi.t32" />
                                    <File Id="gdi.t32.map" Name="gdi+.t32.map" ShortName="bmsxf9ms.map" DiskId="1" Source="SourceDir\File\gdi.t32.map" />
                                    <File Id="gdi.t64" Name="gdi+.t64" ShortName="5bcrhzte.t64" Checksum="yes" DiskId="1" Source="SourceDir\File\gdi.t64" />
                                    <File Id="gdi.t64.map" Name="gdi+.t64.map" ShortName="yb0ogztn.map" DiskId="1" Source="SourceDir\File\gdi.t64.map" />
                                    <File Id="ico.t32" Name="ico.t32" Checksum="yes" DiskId="1" Source="SourceDir\File\ico.t32" />
                                    <File Id="ico.t32.map" Name="ico.t32.map" ShortName="gf0ncm2c.map" DiskId="1" Source="SourceDir\File\ico.t32.map" />
                                    <File Id="ico.t64" Name="ico.t64" Checksum="yes" DiskId="1" Source="SourceDir\File\ico.t64" />
                                    <File Id="ico.t64.map" Name="ico.t64.map" ShortName="xv5k3a6b.map" DiskId="1" Source="SourceDir\File\ico.t64.map" />
                                    <File Id="pe.t32" Name="pe.t32" Checksum="yes" DiskId="1" Source="SourceDir\File\pe.t32" />
                                    <File Id="pe.t32.map" Name="pe.t32.map" ShortName="k35xajuc.map" DiskId="1" Source="SourceDir\File\pe.t32.map" />
                                    <File Id="pe.t64" Name="pe.t64" Checksum="yes" DiskId="1" Source="SourceDir\File\pe.t64" />
                                    <File Id="pe.t64.map" Name="pe.t64.map" ShortName="ub_gwh2f.map" DiskId="1" Source="SourceDir\File\pe.t64.map" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="APPLICATIONFOLDER" Name="ConEmu">
                    <Component Id="ConEmuCore" Guid="{549CE04A-9CE7-4572-88AA-AA919F4D3F1D}">
                        <File Id="ConEmu.exe" Name="ConEmu.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmu.exe" />
                    </Component>
                    <Component Id="ConEmuCore64" Guid="{80B41CD6-361B-4C9C-8731-CC000FDB3650}">
                        <File Id="ConEmu64.exe" Name="ConEmu64.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmu64.exe" />
                    </Component>
                    <Directory Id="CONEMUBASEDIR" Name="ConEmu">
                        <Component Id="ConEmuLicense" Guid="{001DA42D-7E22-4BC9-8D7F-4AEEC71C0F6F}">
                            <File Id="License.txt" Name="License.txt" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\License.txt" />
                        </Component>
                        <Component Id="ConEmuBaseFiles" Guid="{919274D1-52B9-4AFA-808D-D1C14BC5BD79}">
                            <File Id="ConEmuC.exe" Name="ConEmuC.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuC.exe" />
                            <File Id="ConEmuC64.exe" Name="ConEmuC64.exe" ShortName="hppkiums.exe" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuC64.exe" />
                            <File Id="ConEmuHk.dll" Name="ConEmuHk.dll" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuHk.dll" />
                            <File Id="ConEmuHk64.dll" Name="ConEmuHk64.dll" ShortName="dm9eybrf.dll" Checksum="yes" DiskId="1" Source="SourceDir\File\ConEmuHk64.dll" />
                        </Component>
                        <Component Id="ConEmuDocs" Guid="{79AF0739-4FF9-43E4-B0A5-5E326418B391}">
                            <File Id="WhatsNew_ConEmu.txt" Name="WhatsNew-ConEmu.txt" KeyPath="yes" ShortName="ca3_lf1b.txt" DiskId="1" Source="SourceDir\File\WhatsNew_ConEmu.txt" />
                            <File Id="Settings_ConEmu.reg" Name="Settings-ConEmu.reg" ShortName="jvu4uh9o.reg" DiskId="1" Source="SourceDir\File\Settings_ConEmu.reg" />
                            <File Id="FAQ_ConEmu.txt" Name="FAQ-ConEmu.txt" ShortName="qntgdqz6.txt" DiskId="1" Source="SourceDir\File\FAQ_ConEmu.txt" />
                            <File Id="ConEmu_Sample.xml" Name="ConEmu_Sample.xml" ShortName="1gbwhrku.xml" DiskId="1" Source="SourceDir\File\ConEmu_Sample.xml" />
                            <File Id="Command_Processor.reg" Name="Command Processor.reg" ShortName="lekladsx.reg" DiskId="1" Source="SourceDir\File\Command_Processor.reg" />
                            <File Id="Command_Processor_Off.reg" Name="Command Processor Off.reg" ShortName="zw-lpygl.reg" DiskId="1" Source="SourceDir\File\Command_Processor_Off.reg" />
                            <File Id="About_ConEmu.txt" Name="About-ConEmu.txt" ShortName="bdz5oivu.txt" DiskId="1" Source="SourceDir\File\About_ConEmu.txt" />
                            <File Id="cmd_autorun.cmd" Name="cmd_autorun.cmd" ShortName="lpjseult.cmd" DiskId="1" Source="SourceDir\File\cmd_autorun.cmd" />
                            <File Id="Attach.cmd" Name="Attach.cmd" DiskId="1" Source="SourceDir\File\Attach.cmd" />
                        </Component>
                        <Directory Id="CONEMUADDONSDIR" Name="ConEmu.Addons" ShortName="c2so9bj_">
                            <Component Id="ConEmuAddonFiles" Guid="{04CC6D6D-E933-46C3-B86B-1EA4544948B0}">
                                <File Id="CtrlO.reg" Name="CtrlO.reg" KeyPath="yes" DiskId="1" Source="SourceDir\File\CtrlO.reg" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="APPLICATIONFOLDER" Description="ConEmu-Maximus5 product and features" Display="expand" Level="1" Title="ConEmu">
            <ComponentRef Id="ConEmuLicense" />
            <Feature Id="FConEmuShortcutStart.FConEmuCore32" AllowAdvertise="no" Display="hidden" Level="2">
                <ComponentRef Id="ConEmuStartShortcut" />
            </Feature>
            <Feature Id="FConEmuShortcutStart.FConEmuCore64" AllowAdvertise="no" Display="hidden" Level="2">
                <ComponentRef Id="ConEmuStartShortcut64" />
            </Feature>
            <Feature Id="FConEmuShrtctDesktop.FConEmuCore32" AllowAdvertise="no" Display="hidden" Level="2">
                <ComponentRef Id="ConEmuDesktopShortcut" />
            </Feature>
            <Feature Id="FConEmuShrtctDesktop.FConEmuCore64" AllowAdvertise="no" Display="hidden" Level="2">
                <ComponentRef Id="ConEmuDesktopShortcut64" />
            </Feature>
            <Feature Id="FConEmuCore32" AllowAdvertise="no" Description="Core file (ConEmu.exe) x86 version" Level="1" Title="Core files (x86)">
                <ComponentRef Id="ConEmuCore" />
            </Feature>
            <Feature Id="FConEmuCore64" AllowAdvertise="no" Description="Core file (ConEmu.exe) x64 version" Level="1" Title="Core files (x64)">
                <ComponentRef Id="ConEmuCore64" />
            </Feature>
            <Feature Id="FConEmuBase" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="CONEMUBASEDIR" Description="ConEmuC.exe, ConEmuHk.dll, and other required files" Level="1" Title="Base files">
                <ComponentRef Id="ConEmuBaseFiles" />
            </Feature>
            <Feature Id="FConEmuDocs" AllowAdvertise="no" ConfigurableDirectory="CONEMUBASEDIR" Description="WhatsNew-ConEmu.txt, FAQ-ConEmu.txt, ConEmu_Sample.xml, and other information" Level="1" Title="Documentation">
                <ComponentRef Id="ConEmuDocs" />
            </Feature>
            <Feature Id="FConEmuAddons" AllowAdvertise="no" ConfigurableDirectory="CONEMUADDONSDIR" Description="Some macros, sample background images, etc." Level="1" Title="Addons">
                <ComponentRef Id="ConEmuAddonFiles" />
            </Feature>
            <Feature Id="FConEmuFarPlugins" AllowAdvertise="no" ConfigurableDirectory="FARPLUGINSCONEMU" Description="Far Manager Plugins: ConEmu, PanelViews, Underlines" Level="1" Title="Far Manager plugins">
                <ComponentRef Id="PFarPluginsConEmu" />
                <ComponentRef Id="PFarPluginsConEmuLn" />
                <ComponentRef Id="PFarPluginsConEmuTh" />
            </Feature>
            <Feature Id="FConEmuShortcut" AllowAdvertise="no" Description="Create ConEmu shortcuts in the Start menu or Desktop" Display="expand" Level="1" Title="Create shortcuts">
                <Feature Id="FConEmuShortcutStart" AllowAdvertise="no" Level="1" Title="Start menu">
                    <ComponentRef Id="ConEmuStartShortcutFolder" />
                </Feature>
                <Feature Id="FConEmuShrtctDesktop" AllowAdvertise="no" Level="1" Title="Desktop">
                    <ComponentRef Id="ConEmuDesktopShortcutFolder" />
                </Feature>
            </Feature>
        </Feature>
        <Icon Id="SetupIcon.ico" SourceFile="FILE NOT EXPORTED, USE THE dark.exe -x OPTION TO EXPORT BINARIES" />
        <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />
        <Property Id="ALLUSERS" Value="1" />
        <Property Id="ARPPRODUCTICON" Value="SetupIcon.ico" />
        <Property Id="ARPHELPLINK" Value="http://code.google.com/p/conemu-maximus5/issues" />
        <Property Id="ARPURLINFOABOUT" Value="http://conemu-maximus5.googlecode.com/" />
        <Property Id="ARPURLUPDATEINFO" Value="http://conemu-maximus5.googlecode.com/" />
        <Property Id="ApplicationFolderName" Value="ConEmu" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        <Property Id="FARMANAGERFOLDER">
            <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\Far2" Name="InstallDir" Type="directory" />
        </Property>
        <UIRef Id="WixUI_FeatureTree" />
        <InstallExecuteSequence>
            <Custom Action="SetConEmuInstallDir" After="AppSearch">FARMANAGERFOLDER</Custom>
            <Custom Action="UpdateFeatureState" Before="InstallValidate" />
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="SetConEmuInstallDir" After="AppSearch">FARMANAGERFOLDER</Custom>
        </InstallUISequence>
    </Product>
</Wix>