<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Version.wxi ?>
  <?include ConEmu_Guids.wxi ?>

  <Product Id="*" Name="ConEmu $(var.ConEmuVerS)" Version="$(var.Version)"
           Language="1033" Manufacturer="ConEmu-Maximus5" UpgradeCode="$(var.Guid.UpgradeCode)">
    <Package Comments="This installer database contains the logic and data required to install ConEmu"
             Compressed="yes" Description="ConEmu-Maximus5 $(var.ConEmuVerS)"
             InstallerVersion="200" Languages="1033" Manufacturer="ConEmu-Maximus5"
             InstallScope="perMachine"
             Platform="x86" />
    <Upgrade Id="$(var.Guid.UpgradeCode)">
      <UpgradeVersion Property="UPGRADE" Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.Version)" />
      <!--<UpgradeVersion Minimum="$(var.Version)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />-->
      <!--<UpgradeVersion Property="UPGRADE" OnlyDetect="yes" Maximum="$(var.Version)" />-->
      <UpgradeVersion Property="DOWNGRADE" Minimum="$(var.Version)" IncludeMinimum="no" MigrateFeatures="yes" />
      <!--<UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" MigrateFeatures="yes" Minimum="0.0.0" />-->
    </Upgrade>
    <!--<Condition Message="A later version of ConEmu is already installed. Setup will now exit.">NOT NEWERVERSIONDETECTED OR Installed</Condition>-->
    <Condition Message="[ProductName] requires Windows 2000 or above.">NOT Version9X AND VersionNT &gt;= 500</Condition>
    <Icon Id="SetupIcon.ico" SourceFile="..\..\src\ConEmu\ConEmu.ico"/>
    <Property Id="ARPPRODUCTICON" Value="SetupIcon.ico" />
    <Property Id="ARPHELPLINK" Value="http://code.google.com/p/conemu-maximus5/issues" />
    <Property Id="ARPURLINFOABOUT" Value="http://conemu-maximus5.googlecode.com/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://conemu-maximus5.googlecode.com/" />
    <!--<Property Id="ALLUSERS" Value="1" />-->

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bmp_Banner.bmp" /> <!-- 493 × 58 -->
    <WixVariable Id="WixUIDialogBmp" Value="Bmp_Dialog.bmp" /> <!-- 493 × 312 -->
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <Property Id="ApplicationFolderName" Value="ConEmu" />
    <Property Id="APPLICATIONFOLDER"/>
    <Property Id="CONEMUBASEDIR"/>
    <Property Id="CONEMUADDONSDIR"/>
    <Property Id="FARMANAGERFOLDER">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\Far2" Name="InstallDir" Type="directory" />
    </Property>
    <Property Id="FARPLUGINSCONEMU"/>
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" /> <!-- необходимо для WixUI_FeatureTree -->
    <!--<UIRef Id="WixUI_InstallDir" />-->
    <UIRef Id="WixUI_FeatureTree" />
    <!--<UIRef Id="WixUI_Advanced" />-->
    <!--
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
    -->

    <CustomAction Id="SetConEmuInstallDir" Property="APPLICATIONFOLDER" Value="[FARMANAGERFOLDER]" Execute="firstSequence" />
    <!--
    <CustomAction Id="UpdateFeatureState" BinaryKey="CustomActions.dll" DllEntry="UpdateFeatureState" />
    -->

    <Binary Id="CustomActions.dll" SourceFile="CustomActions.dll" />
    <CustomAction Id="UpdateFeatureState" BinaryKey="CustomActions.dll" DllEntry="UpdateFeatureState" />

    <!--
    <Binary Id="vbs.vbs" SourceFile="vbs.vbs" />
    <CustomAction Id="UpdateFeatureState" BinaryKey="vbs.vbs" VBScriptCall="CheckFeatures" Return="ignore" />
    -->

    <!--
        <Property Id="USERINSTALLDIR">
            <RegistrySearch Id="UserInstallDir" Root="HKCU" Key="Software\Far2" Name="InstallDir" Type="directory" />
        </Property>
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\Far2" Name="InstallDir" Type="directory" />
        </Property>
    -->

    <!--
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]"/>
    -->

    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!-- Папка в "Program Files". TODO: Заменить на Far2? -->
        <Directory Id="APPLICATIONFOLDER" Name="ConEmu">
          <Directory Id="CONEMUBASEDIR" Name="ConEmu">
            <Directory Id="CONEMUADDONSDIR" Name="ConEmu.Addons"/>
          </Directory>
        </Directory>
        <Directory Id="FARMANAGERFOLDER" Name="ConEmu">
          <Directory Id="FarPluginsFolder" Name="Plugins">
            <Directory Id="FARPLUGINSCONEMU" Name="ConEmu"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder"> <!-- ставит ярлык для текущего пользователя! -->
      <!--<Directory Id="StartMenuFolder">-->
        <Directory Id="ApplicationProgramsFolder" Name="ConEmu"/>
      </Directory>
      <Directory Id="DesktopFolder"/>
    </Directory>

    <?include ConEmu_Files.wxi ?>

    <?include ConEmu_Shortcuts.wxi ?>

    <?include ConEmu_Features.wxi ?>

    <!--
    <UI>
      <ProgressText Action="AppSearch" Template="Property: [1], Signature: [2]">Searching for installed applications</ProgressText>
    </UI>
    <InstallExecuteSequence>
      <Custom Action="SetARPINSTALLLOCATION" After="AppSearch" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="SetARPINSTALLLOCATION" After="AppSearch" />
      <! - -<Show Dialog="FatalError" OnExit="error" />
      <Show Dialog="UserExit" OnExit="cancel" />
      <Show Dialog="ExitDialog" OnExit="success" />- - >
    </InstallUISequence>
    <AdminUISequence>
      <! - -<Show Dialog="FatalError" OnExit="error" />
      <Show Dialog="UserExit" OnExit="cancel" />
      <Show Dialog="ExitDialog" OnExit="success" />- - >
    </AdminUISequence>
    -->
    <UI>
      <ProgressText Action="InstallValidate">Validating install</ProgressText>
    </UI>
        <InstallExecuteSequence>
            <!-- Эти операции выполняются "под админом" после завершения настройки параметров -->
            <Custom Action="SetConEmuInstallDir" After="AppSearch">FARMANAGERFOLDER</Custom>
            <Custom Action="UpdateFeatureState" Before="InstallValidate" />
            <RemoveExistingProducts After="InstallInitialize"/>
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="SetConEmuInstallDir" After="AppSearch">FARMANAGERFOLDER</Custom>
            <!--<Custom Action="UpdateFeatureState" Before="InstallValidate" />-->
            <!-- <Custom Action="UpdateFeatureState" Before="ExecuteAction"/> -->
            <!-- <Custom Action="UpdateFeatureState" After="CustomizeDlg"/> -->
        </InstallUISequence>
        <AdminUISequence>
        </AdminUISequence>
  </Product>
</Wix>
