<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Накрутить этот номер, чтобы заблокировать Downgrade/Upgrade с другой "версией" инсталлятора -->
  <?define  MajorVersion = '11' ?>
  <?include Version.wxi ?>

  <?include ConEmu_Guids_$(var.Platform).wxi ?>

  <?define RegKeyOld = "SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\ConEmu" ?>
  <?define RegKey = "SOFTWARE\ConEmu" ?>
  <?define AppRegKey32 = "SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\ConEmu.exe" ?>
  <?define AppRegKey64 = "SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\ConEmu64.exe" ?>

  <?if $(var.Platform) = x86 ?>
    <?define Win64 = "no" ?>
    <?define GuiWin32 = "1" ?>
    <?define GuiWin64 = "2" ?>
    <?define ProgramFiles = "ProgramFilesFolder" ?>
    <?define CEInstallDir = "InstallDir" ?>
    <!--<?define CEExtConsoleDir = "ExtConsoleDir" ?>-->
    <!--<?define CEFarPluginsDir = "FarPluginsDir" ?>-->
    <?define FarInstallDir = "InstallDir" ?>
  <?endif?>
  <?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define GuiWin32 = "2" ?>
    <?define GuiWin64 = "1" ?>
    <?define ProgramFiles = "ProgramFiles64Folder" ?>
    <?define CEInstallDir = "InstallDir_x64" ?>
    <!--<?define CEExtConsoleDir = "ExtConsoleDir_x64" ?>-->
    <!--<?define CEFarPluginsDir = "FarPluginsDir_x64" ?>-->
    <?define FarInstallDir = "InstallDir_x64" ?>
  <?endif?>


  <Product Id="*" Name="ConEmu $(var.ConEmuVerS)" Version="$(var.Version)"
           Language="1033" Manufacturer="ConEmu-Maximus5" UpgradeCode="$(var.Guid.UpgradeCode)">
    <Package Comments="This installer database contains the logic and data required to install ConEmu"
             Compressed="yes" Description="ConEmu-Maximus5 $(var.ConEmuVerS)"
             InstallerVersion="200" Languages="1033" Manufacturer="ConEmu-Maximus5"
             InstallScope="perMachine"
             Platform="$(var.Platform)" />

    <!-- Upgrade and install conditions -->
    <?include ConEmu_Conditions.wxi ?>

    <!-- Global Installer Properties -->
    <Icon Id="SetupIcon.ico" SourceFile="..\..\src\ConEmu\ConEmu.ico"/>
    <Property Id="ARPPRODUCTICON" Value="SetupIcon.ico" />
    <Property Id="ARPHELPLINK" Value="https://conemu.github.io/" />
    <Property Id="ARPURLINFOABOUT" Value="https://conemu.github.io/en/Issues.html" />
    <Property Id="ARPURLUPDATEINFO" Value="https://conemu.github.io/en/Downloads.html" />
    <Property Id="REINSTALLMODE" Value="amus" />
    <!--<Property Id="ALLUSERS" Value="1" />-->

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bmp_Banner.bmp" /> <!-- 493 × 58 -->
    <WixVariable Id="WixUIDialogBmp" Value="Bmp_Dialog.bmp" /> <!-- 493 × 312 -->
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <Property Id="ApplicationFolderName" Value="ConEmu" />
	<?include ConEmu_RegKeys.wxi ?>
    <!--<Property Id="CONEMUBASEDIR"/>-->
    <!--<Property Id="CONEMUADDONSDIR"/>-->
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" /> <!-- необходимо для WixUI_FeatureTree -->
    <!--<UIRef Id="WixUI_InstallDir" />-->
    <UIRef Id="WixUI_FeatureTree" />
    <!--<UIRef Id="WixUI_Advanced" />-->
    <!--
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
    -->

	<?include ConEmu_DefaultPathActions.wxi ?>

    <Binary Id="CustomActions.dll" SourceFile="CustomActions.dll" />
    <CustomAction Id="UpdateFeatureState" BinaryKey="CustomActions.dll" DllEntry="UpdateFeatureState" />

    <!--
    <CustomAction Id="SetInstallText" Property="InstallText" Value="Install" />
    <CustomAction Id="SetUpgradeText" Property="InstallText" Value="Upgrade" />
    <CustomAction Id="SetDowngradeText" Property="InstallText" Value="Downgrade" />
    <CustomAction Id="SetWelcomeInstallText" Property="WelcomeInstallText" Value="The Setup Wizard will install [ProductName] on your computer." />
    <CustomAction Id="SetWelcomeUpgradeText" Property="WelcomeInstallText" Value="The Setup Wizard will upgrade [ProductName] on your computer." />
    <CustomAction Id="SetWelcomeDowngradeText" Property="WelcomeInstallText" Value="The Setup Wizard will downgrade [ProductName] on your computer." />
    -->

    <!--
    <Binary Id="vbs.vbs" SourceFile="vbs.vbs" />
    <CustomAction Id="UpdateFeatureState" BinaryKey="vbs.vbs" VBScriptCall="CheckFeatures" Return="ignore" />
    -->

    <!--
        <Property Id="USERINSTALLDIR">
            <RegistrySearch Id="UserInstallDir" Root="HKCU" Key="Software\Far2" Name="$(var.FarInstallDir)" Type="directory" />
        </Property>
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\Far2" Name="$(var.FarInstallDir)" Type="directory" />
        </Property>
    -->

    <!--
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]"/>
    -->

    <Media Id="1" Cabinet="ConEmu.cab" CompressionLevel="high" EmbedCab="no" />

    <?include ConEmu_Directories.wxi ?>

    <?include ConEmu_Files.wxi ?>

    <?include ConEmu_Shortcuts.wxi ?>

    <?include ConEmu_Features.wxi ?>

    <UI>
      <ProgressText Action="InstallValidate">Validating install</ProgressText>
    </UI>
        <InstallExecuteSequence>
            <!-- Эти операции выполняются "под админом" после завершения настройки параметров -->
            <?include ConEmu_DefaultPathOrder.wxi ?>

            <Custom Action="UpdateFeatureState" Before="InstallValidate" />
            <RemoveExistingProducts After="InstallFinalize"/>
        </InstallExecuteSequence>
        <InstallUISequence>
            <?include ConEmu_DefaultPathOrder.wxi ?>

            <!--<Custom Action="UpdateFeatureState" Before="InstallValidate" />-->
            <!-- <Custom Action="UpdateFeatureState" Before="ExecuteAction"/> -->
            <!-- <Custom Action="UpdateFeatureState" After="CustomizeDlg"/> -->
            <!--
            <Custom Action="SetInstallText" After="FindRelatedProducts">NOT UPGRADE AND NOT DOWNGRADE</Custom>
            <Custom Action="SetUpgradeText" After="FindRelatedProducts">UPGRADE</Custom>
            <Custom Action="SetDowngradeText" After="FindRelatedProducts">DOWNGRADE</Custom>
            <Custom Action="SetWelcomeInstallText" After="FindRelatedProducts">NOT UPGRADE AND NOT DOWNGRADE</Custom>
            <Custom Action="SetWelcomeUpgradeText" After="FindRelatedProducts">UPGRADE</Custom>
            <Custom Action="SetWelcomeDowngradeText" After="FindRelatedProducts">DOWNGRADE</Custom>
            -->
        </InstallUISequence>
        <AdminUISequence>
        </AdminUISequence>
  </Product>
</Wix>
