.*.cmd
-*.cmd
*.dat

github-release-downloads.ps1
PortableApps_Sums.ps1

ConEmuPortable*.exe
ConEmuPortableRarInfo.txt
Portable_Test
BartPE

Deploy.cmd
Deploy_msi.cmd
MinGW_deploy.cmd
PortableApps_Config.cmd
PortableApps_Update.txt

downloads-*.txt
downloads-*.json
