sign2.bat
.here
reg
TabThemes
Tools
.build/
.codeblocks/
.vs
.vahashtags
Icons/
CE2-preview.sln
compile.txt
*.opensdf
_VCBUILD/
Test/
enc_temp_folder/

*.exe
*.map
*.pdb
*.dll
*.t32
*.t64

*.o

*.suo
*.log
*.sdf
*.opendb
*.opensdf
*.VC.db
*.ncb
*.opt
*.user
*.layout
*.aps

*.bak

*.7z
.x32_build_flag
.x64_build_flag

/.idea
/CMakeLists.txt

/WebInstall
