sign2.bat
.here
reg
TabThemes
Tools
/.build
/.codeblocks
/Icons
CE2-preview.sln
compile.txt
*.opensdf
/_VCBUILD

*.exe
*.map
*.pdb
*.dll
*.t32
*.t64

*.suo
*.log
*.sdf
*.opensdf
*.ncb
*.opt
*.user
*.layout
*.aps

*.bak

*.7z
